{% extends 'base.html' %}


{% block content %}
<style type="text/css">
	.create-form {
		width: 100%;
		max-width: 100%;
		padding: 15px;
		margin: auto;
	}

	.submit-button {
		max-width: 200px;
	}

</style>

<div class="container">
	<div class="row">
		<div class="col-lg-7 offset-lg-1">

			{% if success_message %}
			<h3 style="color:green; text-align: center;">{{success_message}}</h3>
			{% endif %}

			<form class="create-form" method="post" enctype="multipart/form-data">{% csrf_token %}

				<!-- name -->
				<div class="form-group">
					<label for="id_name">Name</label>
					<input class="form-control" type="text" name="name" id="id_name" value="{{form.initial.name}}"
						required autofocus>
				</div>

				<!-- family -->
				<div class="form-group">
					<label for="id_family">Family</label>
					<input class="form-control" rows="10" type="text" name="family" id="id_family"
						value="{{form.initial.family}}" required>
				</div>
				<!-- phonenumber -->
				<div class="form-group">
					<label for="id_phonenumber">Phone Number</label>
					<input class="form-control" rows="10" type="text" name="phonenumber" id="id_phonenumber"
						value="{{form.initial.phonenumber}}" required>
				</div>
				<!-- Birth date -->
				<div class="form-group">
					<label for="id_birthdate">Birthd Date</label>
					<input class="form-control" rows="10" type="text" name="birthdate" id="id_birthdate"
						value="{{form.initial.birthdate}}" required>
				</div>
				<br>
				<!-- GENDER -->
				<label for="id_gender">Gender</label>
				<select name="gender" id="id_gender" >
					{% ifequal  form.initial.gender "F" %}
						<option value="F">{{form.initial.gender}}</option>
						<option value="M">Male</option>

						
					{% endifequal %}
					{% ifequal form.initial.gender "M" %}
						<option value="M">{{form.initial.gender}}</option>
						<option value="F">Female</option>
					{% endifequal %}

				</select>
				<br/>
				<br/>

				<!-- address -->
				<div class="form-group">
					<label for="id_address">Address</label>
					<textarea class="form-control" rows="10" type="text" name="address" id="id_address"
						required>{{form.initial.address}}</textarea>
				</div>
				{% for field in form %}
				<p>
					{% for error in field.errors %}
				<p style="color: red">{{ error }}</p>
				{% endfor %}
				</p>
				{% endfor %}
				{% if form.non_field_errors %}
				<div style="color: red">
					<p>{{form.non_field_errors}}</p>
				</div>
				{% endif %}

				<!-- Submit btn -->
				<button class="submit-button btn btn-lg btn-primary btn-block" type="submit">Update</button>
			</form>
		</div>
	</div>
</div>


{% endblock content %}